<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="renderdata" frontName="renderdata">
            <module name="Session6Task_RenderData" />
        </route>
    </router>
</config>
