<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Magento\Customer\Model\Data\Customer">
        <plugin name="training_catalog_product" type="Training3\CustomerMiddleNamePlugin\Model\Data\Customer"/>
    </type>
</config>
